<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="styles.css">
    <!-- You can include other external CSS or JavaScript files here -->
</head>
<body>
<header>
    <h1>Contact page !</h1>
    <a href="/">Homepage</a>
    <p> Hello {{ username }} </p>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>

<main>
    <!-- Your main content goes here -->
    <h2>Welcome to Our Website</h2>
    <p>This is a sample web page template.</p>
</main>

<footer>
    <p>&copy; 2023 Your Company Name</p>
</footer>
</body>
</html>